<section class="section" >
           <div class="item">
                <img src="/static/images.jpg" alt="">
           </div>
           <div class="boxxxx">
                br
                <h4>Time slot: 05:00 am - 06:00 am (Monday-Friday)</h4> 
                 <h2>Email id for booking: xxxx@gmail.com </h2> <br>
                        <p>The information you entered is with us; if you are interested in joining our online classes, show your interest by sending us an email with just your name in it ( Please use the email id you entered in the form to send us the message so that we can verify the details). We will call you within 5 minutes after you send us the mail to brief you about all the necessary details. The agent will also tell you about the payment method and don't worry, payment will be safe and secure. The link of the online meet will be sent to your whatsapp number 10 minutes prior to the start of the meet.</p>
           </div>
           
    </section>
    <section class="section" >
           <div class="item">
                <img src="/static/images.jpg" alt="">
           </div>
           <div class="boxxxx">
                br
                <h4>Time slot: 05:00 am - 06:00 am (Saturday-Sunday)</h4> 
                 <h2>Email id for booking: xxxx@gmail.com </h2> <br>
                        <p>The information you entered is with us; if you are interested in joining our online classes, show your interest by sending us an email with just your name in it ( Please use the email id you entered in the form to send us the message so that we can verify the details). We will call you within 5 minutes after you send us the mail to brief you about all the necessary details. The agent will also tell you about the payment method and don't worry, payment will be safe and secure. The link of the online meet will be sent to your whatsapp number 10 minutes prior to the start of the meet.</p>
           </div>
           
    </section>
    <section class="section" >
           <div class="item">
                <img src="/static/images.jpg" alt="">
           </div>
           <div class="boxxxx">
                br
                <h4>Time slot: 06:00 am - 07:00 am (Monday-Friday)</h4> 
                 <h2>Email id for booking: xxxx@gmail.com </h2> <br>
                        <p>The information you entered is with us; if you are interested in joining our online classes, show your interest by sending us an email with just your name in it ( Please use the email id you entered in the form to send us the message so that we can verify the details). We will call you within 5 minutes after you send us the mail to brief you about all the necessary details. The agent will also tell you about the payment method and don't worry, payment will be safe and secure. The link of the online meet will be sent to your whatsapp number 10 minutes prior to the start of the meet.</p>
           </div>
           
    </section>
    <section class="section" >
           <div class="item">
                <img src="/static/images.jpg" alt="">
           </div>
           <div class="boxxxx">
                br
                <h4>Time slot: 06:00 am - 07:00 am (Saturday-Sunday)</h4> 
                 <h2>Email id for booking: xxxx@gmail.com </h2> <br>
                        <p>The information you entered is with us; if you are interested in joining our online classes, show your interest by sending us an email with just your name in it ( Please use the email id you entered in the form to send us the message so that we can verify the details). We will call you within 5 minutes after you send us the mail to brief you about all the necessary details. The agent will also tell you about the payment method and don't worry, payment will be safe and secure. The link of the online meet will be sent to your whatsapp number 10 minutes prior to the start of the meet.</p>
           </div>
           
    </section>
    <section class="section" >
           <div class="item">
                <img src="/static/images.jpg" alt="">
           </div>
           <div class="boxxxx">
                br
                <h4>Time slot: 07:00 am - 08:00 am (Monday-Friday)</h4> 
                 <h2>Email id for booking: xxxx@gmail.com </h2> <br>
                        <p>The information you entered is with us; if you are interested in joining our online classes, show your interest by sending us an email with just your name in it ( Please use the email id you entered in the form to send us the message so that we can verify the details). We will call you within 5 minutes after you send us the mail to brief you about all the necessary details. The agent will also tell you about the payment method and don't worry, payment will be safe and secure. The link of the online meet will be sent to your whatsapp number 10 minutes prior to the start of the meet.</p>
           </div>
           
    </section>
    <section class="section" >
           <div class="item">
                <img src="/static/images.jpg" alt="">
           </div>
           <div class="boxxxx">
                br
                <h4>Time slot: 07:00 am - 08:00 am (Saturday-Sunday)</h4> 
                 <h2>Email id for booking: xxxx@gmail.com </h2> <br>
                        <p>The information you entered is with us; if you are interested in joining our online classes, show your interest by sending us an email with just your name in it ( Please use the email id you entered in the form to send us the message so that we can verify the details). We will call you within 5 minutes after you send us the mail to brief you about all the necessary details. The agent will also tell you about the payment method and don't worry, payment will be safe and secure. The link of the online meet will be sent to your whatsapp number 10 minutes prior to the start of the meet.</p>
           </div>
           
    </section>
    <section class="section" >
           <div class="item">
                <img src="/static/images.jpg" alt="">
           </div>
           <div class="boxxxx">
                br
                <h4>Time slot: 06:00 pm - 07:00 pm (Monday-Friday)</h4> 
                 <h2>Email id for booking: xxxx@gmail.com </h2> <br>
                        <p>The information you entered is with us; if you are interested in joining our online classes, show your interest by sending us an email with just your name in it ( Please use the email id you entered in the form to send us the message so that we can verify the details). We will call you within 5 minutes after you send us the mail to brief you about all the necessary details. The agent will also tell you about the payment method and don't worry, payment will be safe and secure. The link of the online meet will be sent to your whatsapp number 10 minutes prior to the start of the meet.</p>
           </div>
           
    </section>
    <section class="section" >
           <div class="item">
                <img src="/static/images.jpg" alt="">
           </div>
           <div class="boxxxx">
                br
                <h4>Time slot: 06:00 pm - 07:00 pm (Saturday-Sunday)</h4> 
                 <h2>Email id for booking: xxxx@gmail.com </h2> <br>
                        <p>The information you entered is with us; if you are interested in joining our online classes, show your interest by sending us an email with just your name in it ( Please use the email id you entered in the form to send us the message so that we can verify the details). We will call you within 5 minutes after you send us the mail to brief you about all the necessary details. The agent will also tell you about the payment method and don't worry, payment will be safe and secure. The link of the online meet will be sent to your whatsapp number 10 minutes prior to the start of the meet.</p>
           </div>
           
    </section>
    <section class="section" >
           <div class="item">
                <img src="/static/images.jpg" alt="">
           </div>
           <div class="boxxxx">
                br
                <h4>Time slot: 07:00 pm - 08:00 pm (Monday-Friday)</h4> 
                 <h2>Email id for booking: xxxx@gmail.com </h2> <br>
                        <p>The information you entered is with us; if you are interested in joining our online classes, show your interest by sending us an email with just your name in it ( Please use the email id you entered in the form to send us the message so that we can verify the details). We will call you within 5 minutes after you send us the mail to brief you about all the necessary details. The agent will also tell you about the payment method and don't worry, payment will be safe and secure. The link of the online meet will be sent to your whatsapp number 10 minutes prior to the start of the meet.</p>
           </div>
           
    </section>
    <section class="section" >
           <div class="item">
                <img src="/static/images.jpg" alt="">
           </div>
           <div class="boxxxx">
                br
                <h4>Time slot: 07:00 pm - 08:00 pm (Saturday-Sunday)</h4> 
                 <h2>Email id for booking: xxxx@gmail.com </h2> <br>
                        <p>The information you entered is with us; if you are interested in joining our online classes, show your interest by sending us an email with just your name in it ( Please use the email id you entered in the form to send us the message so that we can verify the details). We will call you within 5 minutes after you send us the mail to brief you about all the necessary details. The agent will also tell you about the payment method and don't worry, payment will be safe and secure. The link of the online meet will be sent to your whatsapp number 10 minutes prior to the start of the meet.</p>
           </div>
           
    </section>