br
    br
    <section id="h">
        <div class="please">
            | Fill the form before proceeding to the next page. Please fill it only once. If you have filled it once and are visiting our site again no need to fill it again, just go to our next page. </div> 
        </div>
    </section>
    br
    br
    <section class="next" >
     <a href="/onnext" target="_blank">
           | Next
     </a>
    </section>