extends base.pug


block scripts 
    script(src='/static/index.js')

block style 
    style 
        include ../static/style.css 
        include ../static/bckpn.css 

block content 
   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
    
    <h1>YOGA for BACK PAIN</h1>
    <div class="container">
        <div class="class">
            <img src="/static/bow.jpg" alt="">
        </div>
        <div class="class1">
             <h4>Dhanurasana (Bow pose)</h4>
             <ol>
                 <li>Lie on your belly on your mat, with a blanket under your pelvis if needed. Press all of your toes into the floor and then bend your knees, keeping the toes active.
                 </li>
                 <li>Grab the outer edges of your ankles with your hands and flex your feet strongly.</li>
                 <li>On an inhalation, lift your rib cage and shoulders toward your ears. On an exhalation, lengthen your tailbone and kick your legs back into your hands as you hold on firmly</li>
                 <li>From here, lift your head and heart. Gaze forward. Extend through the roof of your mouth and crown of your head. As you do so, always keep strong energy moving from the base of your spine through the crown of your head to help support
                 </li>
                 <li>Stay lifted for 5 breaths</li>
             </ol>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="class">
            <img src="/static/bridge-pose.jpg" alt="">
        </div>
        <div class="class1">
             <h4>Setu Bandha Sarvangasana (Bridge pose)</h4>
             <ol>
                 <li>Lie on your back in the center of your mat with your knees bent, your legs and feet parallel and hip-distance apart.
                 </li>
                 <li>Move your feet closer to your buttocks. Press down firmly through both of your feet and inhale to raise your hips, lifting from the pubic bone rather than the navel.</li>
                 <li>Clasp your hands under your back on the floor. Broaden your collarbones and get on top of your shoulders. Firm the outer shins and roll your upper thighs inward. Press down firmly through your heels and lift the back of your thighs and the bottom of your buttocks even higher while keeping the thighs parallel.</li>
                 <li>To finish, exhale, release your hands, and lower to the floor. Allow your back to rest in a neutral state as you observe the spaciousness within your chest.</li>
             </ol>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="class">
            <img src="/static/camel.jpg" alt="">
        </div>
        <div class="class1">
             <h4>Ustrasana (Camel pose)</h4>
             <ol>
                 <li>Come to your knees, with your legs hip-width apart. Keep your hips over your knees and squeeze your thighs toward each other.</li>
                 <li>Inhale, engage your lower belly, and reach your tailbone toward your knees, creating space between your lower vertebrae.</li>
                 <li>On another inhalation, lift your sternum and draw your elbows back, toward each other behind you.  Allow your rib cage to expand.</li>
                 <li>Keep your chest raised, your core engaged, your spine long, your chin tucked and your shoulders back as you drop your hands toward your heels.
                 </li>
                 <li>Press the heels of your hands into the heels of your feet, draping the fingers over the soles. Keep lifting through your sternum. (If you don’t have the spinal flexibility for full Ustrasana, avoid reaching for your feet; instead, use blocks placed on the outside of each ankle or keep your hands on your hips with your thumbs on your sacrum.)</li>
                 <li>Now lift your shoulders to allow the trapezius muscles between the shoulder blades to rise up and cushion your cervical spine. Gently allow the head and neck to extend backward.  Gaze at the tip of your nose.</li>
                 <li>Stay in this pose for 30 to 60 seconds. To exit, bring your chin to your chest and your hands to your hips with your thumbs on your sacrum. Engage your lower belly and use your hands to support your lower back as you come slowly back up to your knees.</li>
             </ol>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="class">
            <img src="/static/halfmoon.jpg" alt="">
        </div>
        <div class="class1">
             <h4>Ardha Chandrasana (Half moon pose)</h4>
             <ol>
                 <li>Start in an extended triangle with your left foot forward.
                 </li>
                 <li>Bring your right hand to your hip and turn your head to look at the floor.</li>
                 <li>Bend your front leg and shift your weight into your front foot.</li>
                 <li>Reach your front hand a little forward and place it on the mat or a block directly beneath your front shoulder. Press down through your fingers to steady yourself.
                 </li>
                 <li>Lift your back leg until your thigh is parallel to the floor. Slowly turn your chest to face the right, twisting your torso and hips. Reach your top hand to the ceiling.</li>
                 <li>Either keep your gaze on the floor or slowly bring it to your top hand. Keep a slight bend in your standing leg so you don’t hyperextend your knee.</li>
                 <li>Exit the pose the same way you came into it and return to Extended Triangle.</li>
             </ol>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="class">
            <img src="/static/eagle.jpg" alt="">
        </div>
        <div class="class1">
             <h4>Garudasana (Eagle pose)</h4>
             <ol>
                 <li>Stand with your feet slightly apart, below your sitting bones.</li>
                 <li>Place your hands on your hips, pressing your pelvis down with your hands to ground yourself and feel a sense of connection with the earth. As you ground down, feel a sense of corresponding lift up through the crown of your head and a lengthening of your spine.</li>
                 <li>Bend both knees, lift your right foot, and slowly wrap your right thigh over your left. Then curl your right foot behind your left calf, and hook it there. (You should not feel strain in either knee, and your left knee should be facing forward.)</li>
                 <li>Reach both arms out in front of you and wrap your left arm over your right, crossing the left elbow over the right upper arm. Slide your right hand toward your face, cross your forearms, and press your palms together, raising your elbows to shoulder height.
                 </li>
                 <li>Stay here for five deep breaths, feeling the stretch in your upper back. Return to first position, and repeat on the other side.</li>
             </ol>
        </div>
    </div>
    <footer id="foot">
        <h4>
           | Contact us <br>
           | Mobile no:  9996604707, 9306764543 <br>
           | Email id: jatinkumarsingh97@gmail.com, ranahimanshu6020@gmail.com
        </h4> 
    </footer>