doctype html 
html 
  head 
    title AASANA
    block style 
    block scripts 
  body 
   <nav id="navbar">
        <div id="logo">
            <img src="/static/logo2.png" alt="">
        </div>
        <ul>
            <li><a href="/" target="_blank" class="active">Home</a></li>
            <li><a href="/tut"class="active" target="_blank">Tutorials</a></li>
            <li><a href="/on" target="_blank" class="active" >Online live classes</a></li>
            <li><a href="/pt"class="active"target="_blank">Personal trainer</a></li>
            <li><a href="/session" target="_blank" class="active">Trainer's Session</a></li>
        </ul>
  </nav>
    block content