extends base.pug


block scripts 
    script(src='/static/index.js')

block style 
    style 
        include ../static/style.css 
        include ../static/dgst.css 

block content 
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">

    <h1>YOGA for DIGESTION</h1>
    <div class="container">
        <div class="class">
            <img src="/static/bhdj.jpg" alt="">
        </div>
        <div class="class1">
             <h4>Bharadvajasana I (Bharadvaj's pose)</h4>
             <ol>
                 <li>Sit on the floor with your legs straight out in front of you. Shift over onto your right buttock, bend your knees, and swing your legs to the left. Lay your feet on the floor outside your left hip, with the left ankle resting in the right arch.
                 </li>
                 <li>Inhale and lift through the top of the sternum to lengthen the front torso. Then exhale and twist your torso to the right, keeping the left buttock on or very close to the floor. Lengthen your tailbone toward the floor to keep the lower back long. Soften the belly.</li>
                 <li>Tuck your left hand under your right knee and bring your right hand to the floor just beside your right buttock. Pull your left shoulder back slightly, pressing your shoulder blades firmly against your back even as you continue to twist the chest to the right.</li>
                 <li>You can turn your head in one of two directions: continue the twist of the torso by turning it to the right; or counter the twist of the torso by turning it left and looking over the left shoulder at your feet.
                 </li>
                 <li>With every inhalation lift a little more through the sternum, using the push of the fingers on the floor to help; with every exhalation twist a little more. Stay for 30 seconds to 1 minute, then release with an exhalation, return to the starting position, and repeat to the left for the same length of time.</li>
             </ol>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="class">
            <img src="/static/bridge-pose.jpg" alt="">
        </div>
        <div class="class1">
             <h4>Setu Bandha Sarvangasana (Bridge pose)</h4>
             <ol>
                 <li>Lie on your back in the center of your mat with your knees bent, your legs and feet parallel and hip-distance apart.
                 </li>
                 <li>Move your feet closer to your buttocks. Press down firmly through both of your feet and inhale to raise your hips, lifting from the pubic bone rather than the navel.</li>
                 <li>Clasp your hands under your back on the floor. Broaden your collarbones and get on top of your shoulders. Firm the outer shins and roll your upper thighs inward. Press down firmly through your heels and lift the back of your thighs and the bottom of your buttocks even higher while keeping the thighs parallel.</li>
                 <li>To finish, exhale, release your hands, and lower to the floor. Allow your back to rest in a neutral state as you observe the spaciousness within your chest.</li>
             </ol>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="class">
            <img src="/static/Marichyasana-A-Yoga-pose-Esther-Ekhart.jpg" alt="">
        </div>
        <div class="class1">
             <h4>Marichyasana I  (Saint Marichi pose)</h4>
             <ol>
                 <li>Press forward with your big toe mounds, spin your inner thighs down, and root down with your thigh bones.</li>
                 <li>Make sure you are sitting directly on top of your sitting bones (rather than falling behind them).</li>
                 <li>Move your sacrum in and up toward your navel, while extending your sternum away from your navel to lengthen your front body.</li>
                 <li>Bend your right knee to draw your foot back. Your heel should be just in front of your right sitting bone.
                 </li>
                 <li>Isometrically pull your right heel back to rock your pelvis slightly forward.</li>
                 <li>Let your right knee fall open slightly  and tilt your torso forward, so that it comes to the inside of your right thigh.</li>
                 <li>Reach your right hand forward and lengthen your torso. Pin your right knee back in toward your midline so that your inner right knee hugs your right outer shoulder.</li>
                 <li>Internally rotate your right arm, placing your right armpit against your right shin.
                 </li>
                 <li>Keeping this connection, bend your right elbow and take your right arm behind your back.</li>
                 <li>Reach behind your back with your left arm to clasp your left wrist with your right hand.</li>
                 <li>Inhale. Reach your sternum forward to lengthen your front body.</li>
                 <li>Exhale. Hinge from your hips and fold forward to lengthen your back body.</li>
                 <li>Aim the crown of your head toward your toes, and release your shoulders away from your ears.</li>
                 <li>Hold for 10–12 breaths. Lift your torso and unwind your arms on an inhalation.</li>
                 <li>Return to starting pose, then repeat on the other side.</li>
             </ol>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="class">
            <img src="/static/halfmoon.jpg" alt="">
        </div>
        <div class="class1">
             <h4>Ardha Chandrasana (Half moon pose)</h4>
             <ol>
                 <li>Start in an extended triangle with your left foot forward.
                 </li>
                 <li>Bring your right hand to your hip and turn your head to look at the floor.</li>
                 <li>Bend your front leg and shift your weight into your front foot.</li>
                 <li>Reach your front hand a little forward and place it on the mat or a block directly beneath your front shoulder. Press down through your fingers to steady yourself.
                 </li>
                 <li>Lift your back leg until your thigh is parallel to the floor. Slowly turn your chest to face the right, twisting your torso and hips. Reach your top hand to the ceiling.</li>
                 <li>Either keep your gaze on the floor or slowly bring it to your top hand. Keep a slight bend in your standing leg so you don’t hyperextend your knee.</li>
                 <li>Exit the pose the same way you came into it and return to Extended Triangle.</li>
             </ol>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="class">
            <img src="/static/pyramid.jpg" alt="">
        </div>
        <div class="class1">
             <h4>Parsvottanasana (Pyramid pose)</h4>
             <ol>
                 <li>Stand with your feet slightly apart.</li>
                 <li>Place your hands on your hips, making sure your hips are squared.</li>
                 <li>Step your right foot back 2 to 4 feet. Line up heel to heel with your back foot at approximately a 30- to 45-degree angle.</li>
                 <li>Keep your hips facing forward and both sides of your waist elongated by pressing down with your right big toe mound at the same time as you draw your left hip back and in toward your right heel.
                 </li>
                 <li>On an inhalation, spread your arms out to the sides. On an exhalation, internally rotate your arms, bend your elbows, and bring your palms together behind your back. If this isn’t feasible, release your hands alongside your feet, on blocks, or on your shin.</li>
                 <li>Inhale, lengthen your spine, and engage your quadriceps.</li>
                 <li>Exhale, hinge at your hips, and begin to fold forward and toward your front thigh. Reach your sternum away from your navel and keep your collar bones broad to maintain openness in your front body and length in your back body. Release your forehead toward your shin.</li>
                 <li>Draw the heads of your upper arms back and up away from the floor as you remain in the pose.</li>
                 <li>To exit the pose, inhale and use the strength of your legs to come up. Release your arms and step your feet together, returning to Mountain Pose.</li>
             </ol>
        </div>
    </div>
    <footer id="foot">
        <h4>
           | Contact us <br>
           | Mobile no:  9996604707, 9306764543 <br>
           | Email id: jatinkumarsingh97@gmail.com, ranahimanshu6020@gmail.com
        </h4> 
    </footer>