extends base.pug


block scripts 
    script(src='/static/index.js')

block style 
    style 
        include ../static/style.css 
        include ../static/fit.css 

block content 
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">

    
    <h1>YOGA for FITNESS</h1>

    <div class="container">
        <div class="class">
            <img src="/static/fitboat.png" alt="">
        </div>
        <div class="class1">
             <h4>Naukasana (Boat pose)</h4>
             <ol>
                 <li>Sit on the floor with your legs straight in front of you. Press your hands on the floor a little behind your hips.
                 </li>
                 <li>Lift through the top of the sternum and lean back slightly, making sure your back doesn’t round. Balance your weight on the tripod of your sitting bones and tailbone.</li>
                 <li>Exhale and bend your knees, then lift your thighs so they are angled about 45 degrees above the floor, with your knees still bent.</li>
                 <li>If possible, slowly straighten your knees, raising the tips of your toes slightly above the level of your eyes. If that is not possible, keep your knees bent, your shins parallel to the floor.</li>
                 <li>Keeping your heart open and your spine long, draw your shoulders back and extend both arms forward alongside the legs, parallel to the floor, with your palms facing in. Try to keep your lower belly flat and firm, but not hard and thick.</li>
                 <li>Point your toes or flex through your heels, and breathe. Try to stay in the pose for 10 to 20 seconds, slowly increasing your time to a minute.</li>
             </ol>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="class">
            <img src="/static/dolphin.jpg" alt="">
        </div>
        <div class="class1">
             <h4>Ardha pincha mayurasana (Dolphin pose)</h4>
             <ol>
                 <li>Come onto the floor on your hands and knees. Set your knees directly below your hips and your forearms on the floor with your shoulders directly above your wrists. Firmly press your palms together and your forearms into the floor.
                 </li>
                 <li>Curl your toes under, then exhale and lift your knees away from the floor. At first keep the knees slightly bent and the heels lifted away from the floor. Lengthen your tailbone away from the back of your pelvis and press it lightly toward the pubis. Against this resistance, lift the sitting bones toward the ceiling, and from your inner ankles draw the inner legs up into the groins.</li>
                  <li>Continue to press the forearms actively into the floor. Firm your shoulder blades against your back, then widen them away from the spine and draw them toward the tailbone. Hold your head between the upper arms; don’t let it hang or press heavily against the floor.</li>
                 <li>You can straighten your knees if you like, but if your upper back rounds it’s best to keep them bent. Continue to lengthen your tailbone away from the pelvis and lift the top of your sternum away from the floor.</li>
                 <li>Stay between 30 seconds to one minute. Then release your knees to the floor with an exhale.</li>
             </ol>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="class">
            <img src="/static/updog.jpg" alt="">
        </div>
        <div class="class1">
             <h4>Urdhva Mukha Shvanasana (Upward-Facing Dog pose)</h4>
             <ol>
                 <li>Begin on your belly with your feet hip-distance apart and your hands placed beside your lower ribs.
                 </li>
                 <li>Extend your legs and press down with all ten toenails to activate your quadriceps.</li>
                 <li>Rotate your inner thighs to the ceiling while firming your outer ankles into your midline.</li>
                 <li>Press down with your hands and feet.</li>
                 <li>On an inhalation, straighten your arms and lift your legs.</li>
                 <li>With your arms perpendicular to the floor, your feet anchored, and your legs active, draw your chest forward and up.</li>
                 <li>Draw your shoulders back while rooting down with your hands.</li>
                 <li>Make sure that the curve of your neck is a continuation of the curve of your mid and upper back.</li>
                 <li>Hold for 5 breaths, then release.</li>
             </ol>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="class">
            <img src="/static/locust.jpg" alt="">
        </div>
        <div class="class1">
             <h4>Salabhasana (Locust pose)</h4>
             <ol>
                 <li>Begin on your belly with your feet together and your hands reaching back, palms down.
                 </li>
                 <li>Extend your legs and press down with all ten toenails to activate your quadriceps.</li>
                 <li>Rotate your inner thighs to the ceiling to broaden your lower back.</li>
                 <li>Keeping your hands lightly on the mat, raise your head and chest and your legs, leading with your inner thighs.
                 </li>
                 <li>Roll your shoulders back and up away from the floor. Keep the back of your neck long and emphasize lifting your sternum instead of lifting your chin. Don’t grip your glutes.</li>
                 <li>To come out of the pose, slowly release.</li>
             </ol>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="class">
            <img src="/static/fplank.jpg" alt="">
        </div>
        <div class="class1">
             <h4>Phalakasana II (Forearm Plank)</h4>
             <ol>
                 <li>Place your forearms onto the floor with your hands shoulder-distance apart and your shoulders stacked above your elbows.
                 </li>
                 <li>Pin your elbows into your midline and engage the external rotators of your shoulders.</li>
                 <li>Step your feet back so your body is long and straight like a plank of wood.</li>
                 <li>Root down with your big toe mounds to engage your quadriceps.
                 </li>
                 <li>Lift the tops of your thighs to the ceiling while descending your tailbone to the floor in order to create a slight posterior tilt in your pelvis and become compact at your center.</li>
                 <li>Your lower belly should feel like a tray supporting your lower back.</li>
                 <li>Extend your sternum forward and press your heels back.</li>
                 <li>Build up to being able to hold for 1 minute at a time.</li>
             </ol>
        </div>
    </div>
    <footer id="foot">
        <h4>
           | Contact us <br>
           | Mobile no:  9996604707, 9306764543 <br>
           | Email id: jatinkumarsingh97@gmail.com, ranahimanshu6020@gmail.com
        </h4> 
    </footer>