extends base.pug


block scripts 
    script(src='/static/index.js')

block style 
    style 
        include ../static/style.css 
        include ../static/hbp.css 

block content 
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">

    <h1>YOGA for HIGH BLOOD PRESSURE</h1>
    <div class="container">
        <div class="class">
            <img src="/static/legsup.jpg" alt="">
        </div>
        <div class="class1">
             <h4>Viparita Karani (Legs-Up-the-Wall pose)</h4>
             <ol>
                 <li>Sit on the floor facing a wall. Lower your shoulders and head to the floor, lying on your side. Then roll onto your back and stretch your legs up the wall, with your feet hip-distance apart or whatever distance feels comfortable.
                 </li>
                 <li>Adjust your position by scooting your tailbone toward the wall. It doesn’t need to touch the wall.</li>
                 <li>Find a comfortable position for your arms at your side, with palms turned up; relax your arms and shoulders. Relax your legs against the wall. Release all effort. You might feel your femurs sink into your hip sockets. Feel the spine lengthening. Settle into the pose and breathe for at least 10 minutes.</li>
                 <li>To come out of the pose, bend your knees and roll to your side. Remain here for a few breaths before using the strength of your arms to slowly push yourself back up to seated.</li>
             </ol>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="class">
                <img src="/static/rhtbtp.jpg" alt="">
            </div>
            <div class="class1">
                 <h4>Supta Padangusthasana (Reclining Hand-to-Big-Toe pose)</h4>
                 <ol>
                     <li>Lie supine on the floor, legs strongly extended. If your head doesn’t rest comfortably on the floor, support it on a folded blanket. Exhale, bend the left knee, and draw the thigh into your torso. Hug the thigh to your belly. Press the front of the right thigh heavily to the floor, and push actively through the right heel.
                     </li>
                     <li>Loop a strap around the arch of the left foot and hold the strap in both hands. Inhale and straighten the knee, pressing the left heel up toward the ceiling. Walk your hands up the strap until the elbows are fully extended. Broaden the shoulder blades across your back. Keeping the hands as high on the strap as possible, press the shoulder blades lightly into the floor. Widen the collarbones away from the sternum.</li>
                     <li>Extend up first through the back of the left heel, and once the back of the leg between the heel and sitting bone is fully lengthened, lift through the ball of the big toe. Begin with the raised leg perpendicular to the floor. Release the head of the thigh bone more deeply into the pelvis and, as you do, draw the foot a little closer to your head, increasing the stretch on the back of the leg.</li>
                     <li>You can stay here in this stretch, or turn the leg outward from the hip joint, so the knee and toes look to the left. Pinning the top of the right thigh to the floor, exhale and swing the left leg out to the left and hold it a few inches off the floor. Continue rotating the leg. As you feel the outer thigh move away from the left side of the torso, try to bring the left foot in line with the left shoulder joint. Inhale to bring the leg back to vertical. Lighten your grip on the strap as you do, so that you challenge the muscles of the inner thigh and hip to do the work.</li>
                     <li>
                         | Hold the vertical position of the leg anywhere from 1 to 3 minutes, and the side position for an equal length of time. Once you have returned to vertical release the strap, hold the leg in place for 30 seconds or so, then slowly release as you exhale. Repeat on the right for the same length of time.
                     </li>
                 </ol>
            </div>
            <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="class">
            <img src="/static/hero.jpg" alt="">
        </div>
        <div class="class1">
             <h4>Virasana (Hero pose)</h4>
             <ol>
                 <li>Kneel on the floor (use a folded blanket or bolster to wedge between your calves and thighs if necessary), with your thighs perpendicular to the floor, and touch your inner knees together. Slide your feet apart, slightly wider than your hips, with the tops of the feet flat on the floor. Angle your big toes slightly in toward each other and press the top of each foot evenly on the floor.
                 </li>
                 <li>Exhale and sit back halfway, with your torso leaning slightly forward. Wedge your thumbs into the backs of your knees and draw the skin and flesh of the calf muscles toward the heels. Then sit down between your feet.</li>
                 <li>If your buttocks don’t comfortably rest on the floor, raise them on a block or thick book placed between the feet. Make sure both sitting bones are evenly supported. Allow a thumb’s-width space between the inner heels and the outer hips. Turn your thighs inward and press the heads of the thigh bones into the floor with the bases of your palms. Then lay your hands in your lap, one on the other, palms up, or on your thighs, palms down.</li>
                 <li>Firm your shoulder blades against the back ribs and lift the top of your sternum like a proud warrior. Widen the collarbones and release the shoulder blades away from the ears. Lengthen the tailbone into the floor to anchor the back torso.
                 </li>
                 <li>At first stay in this pose from 30 seconds to 1 minute. Gradually extend your stay up to 5 minutes. To come out, press your hands against the floor and lift your buttocks up, slightly higher than the heels. Cross your ankles underneath your buttocks, sit back over the feet and onto the floor, then stretch your legs out in front of you. It may feel good to bounce your knees up and down a few times on the floor.</li>
             </ol>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="class">
            <img src="/static/bridge-pose.jpg" alt="">
        </div>
        <div class="class1">
             <h4>Setu Bandha Sarvangasana (Bridge pose)</h4>
             <ol>
                 <li>Lie on your back in the center of your mat with your knees bent, your legs and feet parallel and hip-distance apart.
                 </li>
                 <li>Move your feet closer to your buttocks. Press down firmly through both of your feet and inhale to raise your hips, lifting from the pubic bone rather than the navel.</li>
                 <li>Clasp your hands under your back on the floor. Broaden your collarbones and get on top of your shoulders. Firm the outer shins and roll your upper thighs inward. Press down firmly through your heels and lift the back of your thighs and the bottom of your buttocks even higher while keeping the thighs parallel.</li>
                 <li>To finish, exhale, release your hands, and lower to the floor. Allow your back to rest in a neutral state as you observe the spaciousness within your chest.</li>
             </ol>
        </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="class">
            <img src="/static/GlaucomaFriendlyExercises-532343318.jpg" alt="">
        </div>
        <div class="class1">
             <h4>Adho Mukha Svanasana (Downward facing dog pose)</h4>
             <ol>
                 <li>Come onto your hands and knees, with your hands a tiny bit in front of your shoulders and your knees directly below your hips. Spread your palms, rooting down through all four corners of your hands, and turn your toes under.
                 </li>
                 <li>Exhale and lift your knees from the floor, at first keeping your knees slightly bent and your heels lifted off the floor. Lengthen your tailbone away from the back of your pelvis, lift the sitting bones toward the ceiling, and draw your inner legs from your inner ankles up through your groins.</li>
                 <li>On an exhalation, push your top thighs back and stretch your heels toward the floor. Straighten your knees without locking them.</li>
                 <li>Firm your outer arms and press the bases of your index fingers actively into the floor. Lift along your inner arms from the wrists to the tops of the shoulders. Firm your shoulder blades against your back, then widen them and draw them toward your tailbone. Keep your head between your upper arms.</li>
                 <li>Stay in the pose for 10 or more breaths, then bend your knees on an exhalation and lower yourself into Child’s Pose</li>
             </ol>
        </div>
    <footer id="foot">
        <h4>
           | Contact us <br>
           | Mobile no:  9996604707, 9306764543 <br>
           | Email id: jatinkumarsingh97@gmail.com, ranahimanshu6020@gmail.com
        </h4> 
    </footer>