extends base.pug


block scripts 
    script(src='/static/index.js')

block style 
    style 
        include ../static/style.css 
        include ../static/headache.css 

block content 
   
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">

    <h1>YOGA for HEADACHES</h1>
    <div class="container">
        <div class="class">
            <img src="/static/seated-forward-bend-primary.jpg" alt="">
        </div>
        <div class="class1">
             <h4>Paschimottanasana (Seated forward bend pose)</h4>
             <ol>
                 <li>Sitting on the edge of a folded blanket. Press your heels away from your body; press your palms or finger tips into the floor beside your hips.
                 </li>
                 <li>Inhale. Keeping your front torso long, exhale and lean forward from your hips. Lengthen the spine fold toward your legs, without rounding your back.</li>
                 <li>Walk your hands out along the outside of each leg as far as they will go. If you can reach them, hold the sides of your feet with your hands.</li>
                 <li>With each inhalation, lift and lengthen your front torso just slightly; with each exhalation, release a little more fully into the forward bend. If you are holding your feet, bend your elbows out to the sides and lift them away from the floor.</li>
                 <li>Stay in the pose from 1 to 3 minutes. To come up, release your feet. Inhale and lift your torso by pulling your tailbone down and into the pelvis.</li>
             </ol>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="class">
                <img src="/static/bridge-pose.jpg" alt="">
            </div>
            <div class="class1">
                 <h4>Setu Bandha Sarvangasana (Bridge pose)</h4>
                 <ol>
                     <li>Lie on your back in the center of your mat with your knees bent, your legs and feet parallel and hip-distance apart.
                     </li>
                     <li>Move your feet closer to your buttocks. Press down firmly through both of your feet and inhale to raise your hips, lifting from the pubic bone rather than the navel.</li>
                     <li>Clasp your hands under your back on the floor. Broaden your collarbones and get on top of your shoulders. Firm the outer shins and roll your upper thighs inward. Press down firmly through your heels and lift the back of your thighs and the bottom of your buttocks even higher while keeping the thighs parallel.</li>
                     <li>To finish, exhale, release your hands, and lower to the floor. Allow your back to rest in a neutral state as you observe the spaciousness within your chest.</li>
                 </ol>
            </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="class">
                <img src="/static/corpse pose.jpg" alt="">
            </div>
            <div class="class1">
                 <h4>Savasana (Corpse pose)</h4>
                 <ol>
                    <li>Sit on the floor with your knees bent, feet on the floor. Lean back onto your forearms.
                     </li>
                     <li>As you inhale, slowly extend your legs with your feet apart and toes turned out equally.
                     </li>
                     <li>Narrow the front of your pelvis and soften (but don’t flatten) your lower back. Lift your pelvis off the floor, slightly tuck your tailbone. (You may use your hand to sweep your buttocks away from your lower back. ) Lower your pelvis.
                     </li>
                     <li>With your hands, lift the base of your skull away from the back of your neck creating length. If it’s more comfortable, support your head and neck with a folded blanket. Make sure your shoulders are down and away from your ears.</li>
                     <li>Reach your arms toward the ceiling, perpendicular to the floor. Rock slightly from side to side and broaden the back ribs and the shoulder blades away from the spine. Then release your arms to the floor, angled evenly away from the sides of the body.</li>
                     <li>Turn your arms outward and extend them toward to bottom of the mat. Rest the backs of your hands on the floor. Make sure your shoulder blades rest evenly on the floor.</li>
                     <li>Soften your mouth and tongue, and the skin around your nose, ears, and forehead. Let your eyes sink to the back of your head, then turn them downward to gaze toward your heart.
                     </li>
                     <li>Stay in this pose for at least 5 minutes.
                     </li>
                     <li>To exit, exhale and gentle roll onto one side. Take 2 or 3 breaths. With another exhale, press your hands against the floor and lift your torso, bringing your head slowly after.
                     </li>
                 </ol>
            </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="class">
                <img src="/static/fire-log-yoga-pose.jpg" alt="">
            </div>
            <div class="class1">
                 <h4>Agnistambhasana (Fire log pose)</h4>
                 <ol>
                     <li>Sit on one edge of a thickly-folded blanket, knees bent, feet on the floor. Lightly shrug your shoulders up, strongly roll the heads of your upper arm bones back, and press the bottom tips of your shoulder blades into your back.
                     </li>
                     <li>Slide your left foot under your right leg to the outside of your right hip, and lay the outer leg on the floor. Then, stack your right leg on top of the left. Be sure the right ankle is outside the left knee (so the sole is perpendicular to the floor).
                     </li>
                     <li>If you have more flexibility in the hips, you can slide your left shin forward directly below the right to increase the challenge; otherwise, keep the left heel beside the right hip. If you’re tight in the hips, you may find that bringing the ankle to the outer knee is difficult or uncomfortable. In this case, simply sit with your shins crossed in Sukhasana (Easy Pose).
                     </li>
                     <li>Press through your heels and spread your toes. Keeping your front torso long, exhale and fold forward from your groins. Be sure not to round forward from your belly: Keep the space between your pubis and navel long. Lay your hands on the floor in front of your shins.</li>
                     <li>As you inhale, notice how your torso rises slightly; when it does, lengthen from your pubis to your sternum. Then on the next exhalation, fold deeper.</li>
                     <li>Hold 1 minute or more. Inhale the torso upright and uncross your legs to come out of the pose. Repeat for the same length of time with the left leg on top.</li>
                 </ol>
            </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="class">
                <img id="img1" src="/static/rechero.jpg" alt="">
            </div>
            <div class="class1">
                 <h4>Supta Virasana (Reclining Hero pose)</h4>
                 <ol>
                     <li> Exhale and lower your back torso toward the floor. First lean onto your hands, then your forearms and elbows. Once you are on your elbows, place your hands on the back of the pelvis and release your lower back and upper buttocks by spreading the flesh down toward the tailbone. Then finish reclining, either onto the floor or a support blanket or bolster.
                     </li>
                     <li>If your front ribs jut up sharply toward the ceiling, its a sign of tight groins, which pulls your front pelvis toward your knees and causes your belly and lower back to tense. Use your hands to press your front ribs down slightly and lift your pubis toward your navel. This should lengthen your lower back and lower it toward the floor. If it does not, raise yourself onto a higher support. Then lay your arms and hands on the floor, angled about 45 degrees from the sides of your torso, palms up.
                     </li>
                     <li>Sink the heads of the thighbones deep into the back of the hip sockets. Its alright to lift your knees a little away from the floor to help soften your groins; in fact, you can raise your knees a few inches on a thickly folded blanket. You can also allow a little bit of space between your knees as long as your thighs remain parallel to each other. Do not, however, allow the knees to splay apart wider than your hips  this will cause strain on the hips and lower back.
                     </li>
                     <li>To begin, stay in this pose for 30 seconds to 1 minute. Gradually extend your stay to 5 minutes. To come out, press your forearms against the floor and come onto your hands. Then use your hands to lift your torso into Virasana. As you come up, lead with your sternum, not your head or chin. Come out of Virasana in the recommended manner.</li>
                 </ol>
            </div>
    <footer id="foot">
        <h4>
           | Contact us <br>
           | Mobile no:  9996604707, 9306764543 <br>
           | Email id: jatinkumarsingh97@gmail.com, ranahimanshu6020@gmail.com
        </h4> 
    </footer>