extends base.pug


block scripts 
    script(src='/static/index.js')

block style 
    style 
        include ../static/style.css 

block content 
    <link rel="stylesheet" media="screen and (min-width:945px) and (max-width:1100px)" href="../static/one.css">
    <link rel="stylesheet" media="screen and (max-width:944px)" href="../static/two.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@500&display=swap" rel="stylesheet">

    
    <section id="home">
        <div class="aasan1">
            | Welcome to AASANA </div> 
    </div>
    </section>
        //- <h6><br><br><br><br><br><br><br><br><br><br><br><br></h6>
    <section class="services-container">
        <h1 class="primary"> 
                | Our Services  </h1>
    <div id="services">
    <div class="box">
        <img src="/static/bgtut1.jpg" alt="">
        <h2 class="secondary center">Yoga Tutorials</h2>
        <p class="text">Through this, you can see and practice different yoga poses anywhere you want. </p>
        </div>
    <div class="box">
        <img src="/static/bgon.jpg" alt="">
        <h2 class="secondary center"> Online Live Classes</h2>
        <p class="text">Through this, you can attend live classes of yoga by certified trainers. </p>
        </div>
    </div>
    </section>
    <section class="services-container">
        <div id="services1">
    <div class="box1">
        <img src="/static/bgtrain1.jpg" alt="">
        <h2 class="secondary center"> Personal Trainer</h2>
        <p class="text">Through this, you can book certified personal trainers for your personal yoga classes. </p>
        </div>
        <div class="box1">
            <img src="/static/anupam-mahapatra-Vz0RbclzG_w-unsplash.jpg" alt="">
            <h2 class="secondary center"> Trainer's Session</h2>
            <p class="text">Through this, you can join yoga sessions with your friends and family. </p>
            </div>
        </div>
        </section>
    <footer id="foot">
        <h4>
           | Contact us <br>
           | Mobile no:  9996604707, 9306764543 <br>
           | Email id: jatinkumarsingh97@gmail.com, ranahimanshu6020@gmail.com
        </h4> 
    </footer>